@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --text-50: 240 245 245;
        --text-100: 224 235 235;
        --text-200: 194 214 214;
        --text-300: 163 194 194;
        --text-400: 133 173 173;
        --text-500: 102 153 153;
        --text-600: 82 122 122;
        --text-700: 61 92 92;
        --text-800: 41 61 61;
        --text-900: 20 31 31;
        --text-950: 10 15 15;

        --background: 245 249 250;
        --surface: 237 241 242;
        --card: 233 237 238;
        --error: 255 0 0;

        --primary: 98 163 178;
        --secondary: 149 207 214;
        --accent: 114 196 213;
    }

    .dark {
        --text-50: 10 15 15;
        --text-100: 20 31 31;
        --text-200: 41 61 61;
        --text-300: 61 92 92;
        --text-400: 82 122 122;
        --text-500: 102 153 153;
        --text-600: 133 173 173;
        --text-700: 163 194 194;
        --text-800: 194 214 214;
        --text-900: 224 235 235;
        --text-950: 240 245 245;

        --background: 5 9 10;
        --surface: 13 17 18;
        --card: 17 21 22;
        --error: 255 0 0;

        --primary: 77 143 157;
        --secondary: 41 100 106;
        --accent: 42 125 141;
    }
}