@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {

        --text: #091010;
        --text-muted: #131f20;
        --text-muted-extra: #253e41;

        --background: #ffffff;
        --card: #f8f8f9;
        --element: #f1f1f2;
        --element-hover: #e4e4e5;

        --border: #d4d4d8;

        --default: #419eaf;
        --hover: #347586;
        --active: #2f606f;
        --disabled:#dbf0f2;
        --error: #aa0000;
    }

    .dark {
        --text: #f4f4f5;
        --text-muted: #d4d4d8;
        --text-muted-extra: #a4a4a8;

        --background: #0e0e11;
        --card: #18181b;
        --element: #1f1f23;
        --element-hover: #2f2f33;

        --border: #27272a;

        --default: #419eaf;
        --hover: #347586;
        --active: #2f606f;
        --disabled:#172c35;
        --error: #aa0000;
    }
}